.all {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  flex: 1;
  font-size: 16px;
}
.cart_page_top_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_page_bottom_area {
  width: 100%;
  max-width: 600px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(245, 245, 245);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 10;
  color: black;
}

.alignment {
  display: flex;
  align-items: center; /* 수직 정렬 */
  font-size: 13px;
  margin-right: 350px; /* 필요에 따라 조정 */
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  cursor: pointer;
}
.hide {
  display: none;
}
.purchase_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 568px;
  height: 44px;
  color: white;
  background-color: black;
  margin-top: 10px;
  margin-left: 6.5px;
  cursor: pointer;
}
.modal_arrow_amount {
  margin-left: 340px; /* 화살표와 텍스트 사이의 간격 조정 */
}
