.MyTitle {
  font-size: 16px;
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
}
.IconsBar {
  justify-content: space-between;
  display: flex;
  margin: 0px 0px 0px 218.625px;
  padding: 0px 0px 0px 16px;
}
.OptionImg {
  width: 30px;
}
.CartImg {
  width: 30px;
}
.BellImg {
  width: 30px;
}
.PropileStatus {
  width: 350px;
  height: 56px;
  padding-left: 5px;
}
.Line {
  width: 580px;
  height: 1px;
  background: #8a8a8a1a;
  margin: 4px;
}
.StackResponeCash {
  width: 520px;
  height: 24.2px;
  font-size: 18px;
  font-family: Pretendard;
  padding: 12px 16px 16px;
}

.SpanStackResponeCash {
  color: #245eff;
}
.CookieLabel_세로정렬 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 134px;
}
.CookieLabel {
  border-radius: 10px;
  width: 600px;
  padding: 0px 16px 0px;
  display: flex;
  margin-top: 10px;
}
.적립금 {
  font-size: 13px;
}
.적립금_금액 {
  font-size: 14px;
  font-family: Pretendard;
  margin: 2px 0px 0px;
  width: 38.63px;
  height: 16.8px;
}
.BrandLanking {
  margin-top: 0px;
  width: 565px;
  height: 45px;
  background-color: #ffffffff;
  padding: 0px;
  font-size: 13px;
  font-family: Prentendard;
}
.OrderList {
  padding: 24px 16px 8px;
  width: 471.2;
  height: 53px;
}
.MenualList {
  background: #ffffffff;
}
.Orderitem_OrderitemWrrap {
  padding: 8px 16px;
  width: 471px;
  height: 122px;
  display: flex;
}
.Orderitem_Img {
  width: 72px;
  height: 86px;
  border: 10px;
  border-radius: 5%;
  background-color: gray;
}
.Orderitem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-left: 12px;
  font-family: Pretendard;
}
.Banner_Container {
  background: #f5f5f5;
  padding: 8px 0px;
  width: 599px;
  border-right: 1px solid gray;
}
.Banner_ContainerWrappe {
  display: flex;

  border-radius: 5px;
  margin: 16px;
  background: #ffffffff;
}
.Banner_BnnerTextConte {
  padding-left: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.MyImpormation {
  margin: 0px 16px;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}
.TextLeft {
  padding-left: 0%;
  text-align: left;
}
.Rapper {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.MyImpormation_text {
  color: #666666;
  font-size: 13px;
  font-family: Pretendard;
}
.Logout {
  font-size: 13px;
  color: #666666;
  padding: 12px 16px 72px;
}
.탈퇴 {
  font-size: 13px;
  color: #666666;
  padding: 12px 16px 72px;
}
.세로정렬 {
  display: flex;
  flex-direction: column;
}
.LoginButton {
  color: blue;
  padding-left: 16px;
}
